@model Post

@{
    ViewData["Title"] = "Details";
}

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-12 px-md-2 py-2">
                    <div class="row pt-md-1">
                        <h1 class="mb-3">@Model.Title</h1>
                        <div class="meta-wrap">
                            <p class="meta">
                                <span><i class="icon-calendar mr-2"></i>@Model.AddTime</span>
                            </p>
                        </div>
                        <p>@Model.Content</p>
                    </div><!-- END-->
                </div>
            </div>
        </div>
    </section>
</div><!-- END COLORLIB-MAIN -->
