@model cloudscribe.Pagination.Models.PagedResult<Post>
@{
    ViewData["Title"] = "Home Page";
}



@foreach (var post in Model.Data)
{

    <partial name="_PostContentPartial" model="post" />

}

<div class="offset-6">
    <cs-pager cs-paging-pagenumber=Model.PageNumber
              cs-paging-totalitems=Model.TotalItems
              cs-paging-pagesize=Model.PageSize
              asp-controller="Home"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">
    </cs-pager>
</div>

