@model ManagementViewModel
@{
    ViewData["Title"] = "Management";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@Model.CategoryCount</h3>

                    <p>Categories</p>
                </div>
                <div class="icon">
                    <i class="fab fa-cuttlefish"></i>
                </div>
                <a asp-controller="Categories" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-dark">
                <div class="inner">
                    <h3>@Model.PostCount</h3>

                    <p>Posts</p>
                </div>
                <div class="icon">
                    <i class="fab fa-usps"></i>
                    
                </div>
                <a asp-controller="Posts" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-light">
                <div class="inner">
                    <h3>@Model.CommentCount</h3>

                    <p>Comments</p>
                </div>
                <div class="icon">
                    <i class="fas fa-comment-alt"></i> 
                </div>
                <a asp-controller="Comment" asp-action="Index" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@Model.UserCount</h3>

                    <p>Users</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>

    </div>
</div>

